@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Rubik", sans-serif;
  }
}

body {
  background-color: #121212;
}

.movie-poster::-webkit-scrollbar {
  display: none;
}

.btn {
  opacity: 0;
}
.btn:hover,
.image:hover + .btn {
  opacity: 1;
}

.abs {
  transform: translate(40px, -180px);
}
@media screen and (max-width: 1023px) {
  .sidebar {
    z-index: 9;
    height: 100%;
    transform: translateX(-100%);
    width: 65%;
    position: fixed;
  }

  .sidebar.active {
    transform: translateX(0);
  }
}
